name: Build LaTeX PDF on Commit

on:
  push:
    branches:
      - main  # Ersetze 'main' durch deinen Branch-Namen, falls dieser anders heißt
    paths:
      - '**.tex' # Optional: Baut nur, wenn sich tatsächlich LaTeX-Dateien ändern

jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Compile LaTeX Document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          compiler: latexmk
          args: -pdf -file-line-error -halt-on-error -interaction=nonstopmode

      - name: Rename PDF
        run: mv main.pdf MSS-Formelsammlung.pdf

      - name: Upload PDF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MSS-Formelsammlung-Build
          path: MSS-Formelsammlung.pdf
          #retention-days: 14 # Optional: Löscht das File automatisch nach 14 Tagen